<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css">
<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>
<link rel="stylesheet" href="jquery.mobile-1.1.0.custom.css?" />
</head>
<body>

<div id="Demo" data-url="Demo" data-role="page" data-theme="a">
<div data-role="header" data-theme="a">
<h1>IO_BOARD</h1>
</div>
<div data-role="content">
<ul data-role="listview" data-inset="true">	
  {% for board in boards|sort %}
    <li>{{ boards[board] }}</li>
  {% endfor %}
  </ul>
</div>
</div>

<div data-role="footer" data-position="fixed">

<div data-role="navbar">
<ul>
<li><a href="" data-icon="home"></a></li>
</ul>
</div>

</div>
</div>

</body>
</html>